/* mobile menu */
.jma-gbs-mobile-panel, .jma-panel-button {
    display: none
}

.jma-panel-button {
    padding: 0;
    margin: 0;
}

.jma-panel-button>a {
    margin: 0;
}

@media(max-width: 767px) {
    .site-header .nav-primary {
        display: none;
    }

    .jma-gbs-mobile-panel {
        display: block
    }

    .sf-vertical>li {
        float: none;
    }

    .sf-vertical li {
        width: 100%
    }

    .sf-vertical ul, .sf-vertical {
        position: relative;
        width: 100%;
    }

    .sf-vertical ul ul {
        left: 0;
    }

    .navbar-toggle .icon-bar {
        border: solid 1px;
    }

    .jma-gbs-mobile-panel {
        margin: 0;
        overflow: auto;
        padding: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: transform .2s ease-out;
        transition: transform .2s ease-out;
        width: 280px;
        z-index: 200;
        right: -280px;
    }

    body.open .jma-gbs-mobile-panel {
        -webkit-transform: translate3d(-280px, 0, 0);
        transform: translate3d(-280px, 0, 0);
    }

    .jma-panel-button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }

    .site-container {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: transform .2s ease-out;
        transition: transform .2s ease-out;
    }
}

.container .row {
    margin-left: auto;
    margin-right: auto;
}

body.open .site-container {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
}

/* end mobile menu */
.boxed {
    padding: 20px
}

.site-header .uagb-column__wrap {
    overflow: visible;
}

.boxed .site-container {
    margin: 0 auto;
}

.site-header {
    z-index: 20;
    position: relative;
}

.site-container>.nav-primary {
    display: none;
    top: 0;
    width: 100%;
    z-index: 10
}

.jma_gbs_non_use_menu_root_dividers .sf-menu a {
    border-color: transparent;
}

@media(max-width:992px) {
    .site-container>.nav-primary.fixed {
        display: none
    }
}

.nav-primary.fixed {
    position: fixed;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.boxed .site-header .jma-gbs-inner>*, .boxed .site-header .jma-gbs-inner .navbar div, .boxed .site-footer .jma-gbs-inner>* {
    max-width: 100%;
}

.site-container .sf-menu {
    margin-bottom: 0
}

.site-container .navbar .sf-menu li:first-child a, .site-container .navbar .sf-menu ul a {
    border-left: none
}

.site-container .navbar .sf-menu li, .jma-gbs-mobile-panel .navbar .sf-menu li {
    background: none
}

.sf-arrows .sf-with-ul:after {
    right: 0.4em;
    border-width: .33em
}

.sf-arrows .sf-with-ul {
    padding-right: 25px;
}

.jma-gbs-mobile-panel .navbar .sf-menu li a {
    border: none
}

body .navbar a {
    font-size: 16px;
}

.navbar .sf-menu li a {
    border-top: none
}

body .site-header .jma-gbs-inner .navbar {
    max-width: 100%;
    border-bottom: none;
}

body .site-header .navbar {
    max-width: 100%;
    border-bottom: none;
}

.jma_gbs_modular_header .site-header, .jma_gbs_modular_footer .site-footer, .jma_gbs_frame_content.full .site-inner {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jma_gbs_non_modular_header .site-header .jma-gbs-inner>*, .jma_gbs_non_modular_header .site-header .jma-gbs-inner .navbar div, .jma_gbs_non_modular_header .site-footer .jma-gbs-inner>* {
    margin-left: auto;
    margin-right: auto;
}

.content-sidebar-wrap {
    padding-top: 20px;
    padding-bottom: 20px
}

entry-title-link:hover {
    text-decoration: none;
}

.jma_gbs_frame_content.full .site-inner {
    padding-left: 10px;
    padding-right: 10px;
}

.jma_gbs_modular_header .site-header .jma-gbs-inner, .modular .site-inner .jma-gbs-inner, .jma_gbs_modular_footer .site-footer .jma-gbs-inner, .site-footer .jma-gbs-inner>* {
    margin-left: auto;
    margin-right: auto;
}

.site-footer {
    overflow: hidden;
}

.modular .site-inner .jma-gbs-inner {
    padding: 10px;
}

.jma_gbs_modular_header .site-header .jma-gbs-inner, .jma_gbs_modular_footer .site-footer {
    position: relative;
}

.site-footer a, .site-header a {
    text-decoration: underline;
}

.site-footer a:hover, .site-header a:hover, .site-header .sf-menu a {
    text-decoration: none;
}