/* mobile menu */
@media(max-width: 767px) {
    .sf-vertical>li {
        float: none;
    }

    .sf-vertical li {
        width: 100%
    }

    .sf-vertical ul, .sf-vertical {
        position: relative;
        width: 100%;
    }

    .sf-vertical ul ul {
        left: 0;
    }
}

.navbar-toggle .icon-bar {
    border: solid 1px;
}

.jma-gbs-mobile-panel {
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    width: 280px;
    z-index: 200;
    right: -280px;
}

body.open .jma-gbs-mobile-panel {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
}

.site-container {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}

body.open .site-container {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
}

entry-title-link:hover {
    text-decoration: none;
}