/* mobile menu */
.jma-gbs-mobile-panel,
.jma-panel-button {
    display: none;
}

.jma-panel-button {
    padding: 0;
    margin: 0;
}

.jma-panel-button > a {
    margin: 0;
}

.input-group-btn .btn {
    padding: 6px 12px;
}
@media(max-width: 767px) {
    .site-header .nav-primary {
        display: none;
    }

    .jma-gbs-mobile-panel {
        display: block;
    }

    .sf-vertical > li {
        float: none;
    }

    .sf-vertical li {
        width: 100%;
    }

    .sf-vertical,
    .sf-vertical ul {
        position: relative;
        width: 100%;
    }

    .sf-vertical ul ul {
        left: 0;
    }

    .navbar-toggle .icon-bar {
        border: solid 1px;
    }

    .jma-gbs-mobile-panel {
        margin: 0;
        overflow: auto;
        padding: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
        width: 280px;
        z-index: 201;
        right: -280px;
    }

    body.open .jma-gbs-mobile-panel {
        -webkit-transform: translate3d(-280px, 0, 0);
        transform: translate3d(-280px, 0, 0);
    }

    .jma-panel-button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }

    .navbar-toggle {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
    }
}

body.open .navbar-toggle {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
}
/* indent levels progressively on mobile menu */
#jma-gbs-mobile-panel .sf-menu ul {
    padding: 10px;
}
/* correct 3rd level issue (mobile)*/
#jma-gbs-mobile-panel .sf-menu ul ul {
    right: 0 !important;
}
/* end mobile menu */
i.fab,
i.fas {
    font-style: normal;
}
@media(min-width:768px) {
    /* offset 3rd level flyout */
    .sf-menu ul ul {
        top: 10px;
    }
}
/* arrows for menus */
.sf-arrows .sf-with-ul:after,
.sf-menu ul li.menu-item-has-children > a:after,
.sf-menu ul li.menu-item-has-children.reverse > a:after {
    border: none !important;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    content: "\f078";
    right: 0.8em;
    transform: translateY(-50%);
    margin-top: 0;
    height: inherit;
    width: inherit;
    font-size: 0.65em;
}

.site-container .sf-menu ul li.menu-item-has-children > a:after {
    content: "\f054";
    top: 50%;
    position: absolute;
}

.site-container .sf-menu ul li.menu-item-has-children.reverse > a:after {
    content: "\f053";
}
/* menu dividers */
.sf-arrows .sf-with-ul:after {
    border-width: 0.33em;
}

.jma_gbs_non_use_menu_root_dividers .sf-menu a {
    border-color: transparent;
}

.site-container .navbar .sf-menu li:first-child a,
.site-container .navbar .sf-menu ul a {
    border-left: none;
}
/* let menu dropdowns show */
.site-header .uagb-column__wrap {
    overflow: visible;
}
/* let menu dropdowns show */
.site-header {
    z-index: 20;
    position: relative;
}
/* initially hide the sticky menu */
.site-container > .nav-primary {
    display: none;
    top: 0;
    width: 100%;
    z-index: 11;
}
/* disable sticky menu at 992 */
@media(max-width:992px) {
    .site-container > .nav-primary.fixed {
        display: none;
    }
}
/* position sticky */
.nav-primary.fixed {
    position: fixed;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.nav-primary.fixed .jma-positioned {
    margin-left: auto;
    margin-right: auto;
}
/* remove gap below menu */
.site-container .sf-menu {
    margin-bottom: 0;
}

.jma-gbs-mobile-panel .navbar .sf-menu li,
.site-container .navbar .sf-menu li {
    background: none;
}
/* extra default padding for root menu items with arrows */
.site-container .sf-arrows > li > .sf-with-ul > span {
    padding-right: 0.65em;
}

.jma-gbs-mobile-panel .navbar .sf-menu li a {
    border: none;
}

.admin-bar .jma-gbs-mobile-panel {
    top: 46px;
}

.jma-gbs-mobile-panel .sf-menu ul {
    box-shadow: none;
}

.jma-gbs-mobile-panel .sf-menu li a {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
}

.jma-gbs-mobile-panel .sf-menu ul li {
    border-left-style: solid;
    border-left-width: 1px;
}

body .navbar a {
    font-size: 16px;
}

.navbar .sf-menu li a {
    border-top: none;
}

body .site-header .jma-gbs-inner .navbar {
    max-width: 100%;
    border-bottom: none;
    position: sticky;
    top: 0;
}

body .site-header .navbar {
    max-width: 100%;
    border-bottom: none;
}

.banner-wrap .entry-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}
/* padding position for gbs-boxed-content display mode */
.gbs-boxed-content {
    padding: 20px;
}

.gbs-boxed-content .site-container {
    margin: 0 auto;
}

.gbs-boxed-content .site-inner > .jma-gbs-inner {
    padding-left: 20px;
    padding-right: 20px;
}
/* modular site display display */
.jma_gbs_frame_content.gbs-full-content .site-inner,
.jma_gbs_modular_footer .site-footer,
.jma_gbs_modular_header .site-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* fill screen when wide blocks are on a full width page
.jma_gbs_non_frame_content.jma_gbs_full_block.full-width-content {
    margin-left: -15px;
    margin-right: -15px;
}*/
.jma_gbs_non_frame_content.jma_gbs_full_block.full-width-content .site-inner > .jma-gbs-inner {
    max-width: 100%;
}
/* center body content */
.banner-wrap > *,
.banner-wrap > *,
.container > *,
.site-footer .jma-gbs-inner > *,
.site-header .jma-gbs-inner > *,
.site-inner > .jma-gbs-inner {
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.site-inner,
.site-inner > .jma-gbs-inner {
    position: relative;
}

.scroll_menu .site-inner .content-sidebar-wrap > * {
    margin-top: 40px;
}

.site-header .jma-gbs-inner .banner-wrap {
    max-width: 100%;
}

.gbs-modular-content .site-inner .content-sidebar-wrap .jma-gbs-inner {
    padding: 10px;
}

.jma_gbs_modular_footer .site-footer,
.jma_gbs_modular_header .site-header .jma-gbs-inner {
    position: relative;
}
/* framed full width display */
.jma_gbs_frame_content.gbs-full-content .site-inner {
    padding-left: 10px;
    padding-right: 10px;
}

.jma_gbs_non_frame_content.gbs-full-content .site-inner > .jma-gbs-inner {
    padding-left: 20px;
    padding-right: 20px;
}
/* unframed full width with wide blocks */
.jma_gbs_non_frame_content.gbs-full-content.jma_gbs_full_block.full-width-content .site-inner > .jma-gbs-inner {
    padding-left: 0;
    padding-right: 0;
}
/* unframed with wide blocks */
.jma_gbs_non_frame_content.jma_gbs_full_block .content-sidebar-wrap {
    padding-top: 0;
    padding-bottom: 0;
}

.jma_gbs_site_banner.jma_gbs_non_frame_content.jma_gbs_full_block .content-sidebar-wrap {
    padding-top: 0;
}

.jma_gbs_site_banner.jma_gbs_non_frame_content.jma_gbs_full_block .sidebar {
    padding-top: 20px;
}

.jma_gbs_non_frame_content.gbs-full-content.jma_gbs_full_block .entry-content > *,
.jma_gbs_non_frame_content.gbs-full-content.jma_gbs_full_block .entry-header {
    margin-left: auto;
    margin-right: auto;
}
/* scroll menu */
.jma-local-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    z-index: 1;
    padding-left: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.jma-local-menu.fix-local {
    position: fixed;
    z-index: 50;
}

.jma-local-menu li {
    font-size: 12px;
    display: inline-block;
    border-left: solid 1px transparent;
}

.jma-local-menu li a {
    text-decoration: none;
}
@media(min-width:992px) {
    .jma-local-menu li {
        font-size: 16px;
    }
}

.jma-local-menu li a {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    padding: 6px 20px;
    display: inline-block;
}
/* general site display */
.content-sidebar-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}

.entry-title-link:hover {
    text-decoration: none;
}
/* featured image (in content area) */
.site-inner .entry-header img {
    margin-bottom: 15px;
}

.site-inner .entry-header img.alignleft,
.site-inner .entry-header img.alignright {
    width: 300px;
    max-width: 40%;
}

.site-inner .entry-header img.alignright {
    float: right;
    margin-left: 15px;
}

.site-inner .entry-header img.alignleft {
    float: left;
    margin-right: 15px;
}
/* comments */
.comment-respond,
.entry-comments,
.entry-pings,
li.comment {
    background-color: transparent;
    border: none;
}

.comment-list .children li.comment {
    border-left-style: solid;
    border-left-width: 1px;
}
/* footer display */
.site-footer {
    overflow: hidden;
}

.site-footer a,
.site-header a {
    text-decoration: underline;
}

.site-footer a:hover,
.site-header .sf-menu a,
.site-header a:hover {
    text-decoration: none;
}